integration-test/cxf4/utf8-test/src/main/resources/HelloUtf8ÆØÅService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="Utf8Test횈횠횇Service"
                  targetNamespace="http://github.io/richard_austin"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://github.io/richard_austin"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xs:schema targetNamespace="http://github.io/richard_austin"
                   xmlns="http://github.io/richard_austin"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:complexType name="request횈횠횇">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="response횈횠횇">
                <xs:sequence>
                    <xs:element name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="request횈횠횇" nillable="true" type="request횈횠횇"/>
            <xs:element name="response횈횠횇" nillable="true" type="response횈횠횇"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="request횈횠횇">
        <wsdl:part element="tns:request횈횠횇" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="response횈횠횇">
        <wsdl:part element="tns:response횈횠횇" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="HelloUtf8횈횠횇PortType">
        <wsdl:operation name="utf8OperationWithChars횈횠횇">
            <wsdl:input message="tns:request횈횠횇" name="request횈횠횇">
            </wsdl:input>
            <wsdl:output message="tns:response횈횠횇" name="response횈횠횇">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HelloUtf8횈횠횇ServiceSoapBinding" type="tns:HelloUtf8횈횠횇PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="utf8OperationWithChars횈횠횇">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="request횈횠횇">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="response횈횠횇">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HelloUtf8횈횠횇Service">
        <wsdl:port name="HelloUtf8횈횠횇Port" binding="tns:HelloUtf8횈횠횇ServiceSoapBinding">
            <soap:address location="http://localhost:8080/MyCXFWebService/services/HelloUtf8횈횠횇Port"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
